{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Special Problem</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  {% block styles %} {% endblock %}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" >
    <a class="navbar-brand" href="index">Cebuano Orthography</a>
    <div class="collapse navbar-collapse" id="navbarResponsive" style="overflow-y: scroll;">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion"  style="overflow-y: scroll;">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Most Used</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="{% url 'least_used' %}">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Least Used</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Bigrams</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="{% url 'word_bigram' %}">Word Bigrams</a>
            </li>
            <li>
              <a href="{% url 'char_bigram' %}">Character Bigrams</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages 2">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages2" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Word Bigrams</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages2">
            <li>
              <a href="{% url 'sectioning_wb' starts='A' %}">A</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='B' %}">B</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='C' %}">C</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='D' %}">D</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='E' %}">E</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='F' %}">F</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='G' %}">G</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='H' %}">H</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='I' %}">I</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='J' %}">J</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='K' %}">K</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='L' %}">L</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='M' %}">M</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='N' %}">N</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='O' %}">O</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='P' %}">P</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='Q' %}">Q</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='R' %}">R</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='S' %}">S</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='T' %}">T</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='U' %}">U</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='V' %}">V</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='W' %}">W</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='X' %}">X</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='Y' %}">Y</a>
            </li>
            <li>
              <a href="{% url 'sectioning_wb' starts='Z' %}">Z</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Unique Words</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="{% url 'sectioning' starts='A' %}">A</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='B' %}">B</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='C' %}">C</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='D' %}">D</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='E' %}">E</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='F' %}">F</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='G' %}">G</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='H' %}">H</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='I' %}">I</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='J' %}">J</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='K' %}">K</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='L' %}">L</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='M' %}">M</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='N' %}">N</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='O' %}">O</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='P' %}">P</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='Q' %}">Q</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='R' %}">R</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='S' %}">S</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='T' %}">T</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='U' %}">U</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='V' %}">V</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='W' %}">W</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='X' %}">X</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='Y' %}">Y</a>
            </li>
            <li>
              <a href="{% url 'sectioning' starts='Z' %}">Z</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->

      {% block pagecontent %} {% endblock %}
      
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Mae Celine Erasmo 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.canvasjs.min.js' %}"></script>
    <script>

      var topNavBar = 50;
      var footer = 48;
      var height = $(window).height();
      $('#collapseExamplePages').css('height', (height - (topNavBar+footer)));

      $(window).resize(function(){
          var height = $(window).height();
          $('#collapseExamplePages').css('height', (height - (topNavBar+footer)));
      });

    </script>
  </div>

    {% block script %} {% endblock %}

</body>

</html>
